WhatColourIsIt.v12.suo
WhatColourIsIt/bin/Debug
WhatColourIsIt/obj/Debug
WhatColourIsIt/obj/Release
WhatColourIsIt/WhatColourIsIt_TemporaryKey.pfx
WhatColourIsIt/SettingsForm.cs
WhatColourIsIt/SettingsForm.Designer.cs
